.mn {
  display: flex;
  text-align: center;
  justify-content: center;
  
  padding: 3em;
  font-size: 16;
}

.começo{
  padding: 1em;
  width: 30em;
  background-color: rgb(151, 151, 151);

  border-radius: 1em;
}

